<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
  <div class="container">
    <div class="card login-card">
      <div class="row no-gutters">
        <div class="col-md-5 col-lg-7 login-header-col" style="background-color: #91C8FF; background-size: cover;">
          <div class="login-header">
            <div class="mb-4" style="font-size: 36px; line-height: 3rem;">Sign up for<br/>IEGEP.</div>
            <div style="font-size: 16px;">If you already have an account,<br/>you can <a href="/user/sign_in" style="color: #007bff; font-weight: bold;">sign in here!</a></div>
          </div>
        </div>
        <div class="col-md-7 col-lg-5">
          <div class="card-body">
            <div class="brand-wrapper text-center pb-3">
              <h2 style="font-size: 2.65em; color: navy; margin-bottom: 0;">IEGEP</h1>
            </div>
            <p class="login-card-description text-center">Sign up</p>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {style: 'margin: 0 auto;'} ) do |f| %>
              <div class="auth-alert">
                <%= alert %>
              </div>
              <div class="form-group row mt-5">
                <label for="name" class="col-sm-12">Your Name</label>
                <div class="col-sm-12">
                  <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control', placeholder: 'John Smith' %>
                </div>
                <label for="email" class="col-sm-12">Email</label>
                <div class="col-sm-12">
                  <%= f.email_field :email, autocomplete: "email", class: 'form-control', placeholder: 'example@gmail.com' %>
                </div>
                <label for="password" class="col-sm-12">Password</label>
                <div class="col-sm-12">
                  <div class="input-group">
                    <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Type your password', class: 'form-control border-right-0 input-password-1' %>
                    <span class="input-group-append input-group-text bg-transparent" id="toggle-password-1" style="margin-bottom: 20px; border-radius: 0 .25rem .25rem 0; cursor: pointer;">
                      <i class="bi bi-eye-slash" id="icon-eye-1"></i>  
                    </span>
                  </div>
                </div>
                <label for="password-confirmation" class="col-sm-12 col-form-label">Retype Password</label>
                <div class="col-sm-12">
                  <div class="input-group">
                    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Type your password again', class: 'form-control border-right-0 input-password-2' %>
                    <span class="input-group-append input-group-text bg-transparent" id="toggle-password-2" style="margin-bottom: 20px; border-radius: 0 .25rem .25rem 0; cursor: pointer;">
                      <i class="bi bi-eye-slash" id="icon-eye-2"></i>  
                    </span>
                  </div>
                </div>
              </div>
              <%= f.submit 'Register', class: 'btn btn-block login-btn mb-4'%>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<script type="text/javascript">
  <%= render 'layouts/js/toggle_password_double.js' %>
</script>
